<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
	<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
		<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
			<tr>
				<th scope="col" class="px-6 py-3">
					id
				</th>
				<th scope="col" class="px-6 py-3">
					Title
				</th>
				<th scope="col" class="px-6 py-3">
					Short Description
				</th>
				<th scope="col" class="px-6 py-3">
					Published?
				</th>
				<th scope="col" class="px-6 py-3">
					Published_at
				</th>
				<th scope="col" class="px-6 py-3">
					Edit
				</th>
			</tr>
		</thead>
		<tbody>
			<% @articles.each do |article| %>
				<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
					<td class="px-6 py-4">
						<%= article[:id] %>
					</td>
					<th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
						<%= article[:title] %>
					</th>
					<td class="px-6 py-4">
						<%= article[:short_desc] %>
					</td>
					<td class="px-6 py-4">
						<%= article[:published] %>
					</td>
					<td class="px-6 py-4">
						<% if article[:published] %>
							<%= article[:published_at].to_date %>
						<% else %>
							<%= "-" %>
						<% end %>
					</td>
					<td class="px-6 py-4">
						<a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
